@import '../../assets/scss/variables.module';

.input {
	color: $colorTextSecondary;
	background: $colorLight;
	padding: 15px 20px;
	border-radius: $border-radius;
	line-height: 17px;
	transition: all 200ms $transition;
	border: none;
	outline: 0;
	display: block;
	width: 100%;

	&::placeholder {
		color: opacify($colorTextSecondary, .5);
	}
}