@import '../../assets/scss/variables.module';

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: none;
	flex-grow: 0;
	padding: ($padding/2);
	border-top: 2px solid $colorPrimary;
	flex-wrap: wrap-reverse;

	&__project,
	&__branding {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: ($padding/2);
	}

	&__project {
		flex: none;
		flex-grow: 1;

		> *:not(:last-child) {
			margin-right: $padding;
		}

		&__name {
			font-weight: bold;
			font-size: 18px;
			margin-bottom: 0;
		}

		&__tagline {
			font-weight: normal;
			font-size: 12px;
		}
	}

	&__branding {
		flex: none;
		flex-grow: 0;

		> *:not(:first-child) {
			margin-right: $padding;
		}

		h1 {
			font-weight: bold;
			font-size: 12px;
			text-transform: uppercase;

			span {
				font-weight: normal;
			}
		}
	}
}