@import '../../assets/scss/variables.module';

.button {
	color: $colorLight;
	background: $colorPrimary;
	padding: 15px 20px;
	font-weight: bold;
	border-radius: $border-radius;
	width: max-content;
	line-height: 17px;
	box-shadow: $box-shadow rgba($colorDark, .25);
	transition: all 200ms $transition;
	border: none;
	display: block;

	&:hover {
		background: lighten($colorDark, $lightenAmount*2);
	}

	&:not(&-inline):hover {
		transform: scale(.98);
	}

	&-inline {
		display: inline-block;
		box-shadow: none;
	}

	&-success {
		background: $colorSuccess;
		box-shadow: $box-shadow rgba($colorSuccess, .25);

		&:hover {
			background: lighten($colorSuccess, $lightenAmount);
		}
	}

	&-danger {
		background: $colorDanger;
		box-shadow: $box-shadow rgba($colorDanger, .25);

		&:hover {
			background: lighten($colorDanger, $lightenAmount);
		}
	}

	&-warning {
		background: $colorWarning;
		box-shadow: $box-shadow rgba($colorWarning, .25);

		&:hover {
			background: lighten($colorWarning, $lightenAmount);
		}
	}

	&-info {
		background: $colorInfo;
		box-shadow: $box-shadow rgba($colorInfo, .25);

		&:hover {
			background: lighten($colorInfo, $lightenAmount);
		}
	}

	&-help {
		background: $colorHelp;
		box-shadow: $box-shadow rgba($colorHelp, .25);

		&:hover {
			background: lighten($colorHelp, $lightenAmount);
		}
	}
}