@import '../../assets/scss/variables.module';

.input-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: $border-radius;
	box-shadow: $box-shadow rgba($colorDark, .25);
	overflow: hidden;

	> * {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}
}