@import '../../assets/scss/variables.module';

.code-block {
	display: block;
	width: 100%;
	margin: 0;
	padding: 15px 20px;
	background: $colorLightAlt;
	border-radius: $border-radius;
	color: $colorTextSecondary;
	white-space: pre-line;
	overflow-wrap: anywhere;
}