@import '../../assets/scss/variables.module';

.column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1 0;
	width: 100%;
	padding: 0 ($padding/2);

	&-shrink {
		flex-grow: 0;
	}
}