@import '_variables.module.scss';

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: $colorTextPrimary;
}

p,
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4 {
  margin-top: 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

p,
h1,
h2,
h3,
h4 {
  &.disabled {
    opacity: .5;
  }
}


p,
.p {
  color: $colorTextSecondary;

  &.big {
    font-size: 14px;
  }

  margin-bottom: $padding;
}

h1,
.h1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: $colorTextPrimary;

  margin-bottom: $padding;
}

h2,
.h2{
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: $colorTextPrimary;

  margin-bottom: $padding;
}

h3,
.h3 {
  font-size: 12px;
  line-height: 15px;
  color: $colorTextPrimary;

  margin-bottom: ($padding/3);
}

h4,
.h4 {
  font-size: 12px;
  line-height: 15px;
  color: $colorTextSecondary;

  margin-bottom: ($padding/3);
}