$colorLight: #FFFFFF;
$colorLightAlt: #F2F2F2;
$colorGrey: #595959;
$colorDark: #111111;

$colorSuccess: #19E619;
$colorDanger: #FF6666;
$colorWarning: #FFAA00;
$colorInfo: #6699FF;
$colorHelp: #B366FF;

$colorPrimary: #111111;

$colorTextPrimary: $colorPrimary;
$colorTextSecondary: $colorGrey;

$padding: 30px;

$border-radius: 15px;

$box-shadow: 0px 5px 10px;

$transition: cubic-bezier(.75,.1,.25,1);

$lightenAmount: 5%;
$darkenAmount: 5%;