@import 'normalize';

@import 'typography';

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

ul,
ol {
	list-style: none;
}

a {
	transition: all 200ms $transition;
}

a,
button {
	cursor: pointer;
}